.vscode/
.github/

# CMake/colcon build output
**/build/
**/install/
**/log/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake

Camera/
logs/
assets/img_with_q/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
sim_reports/
parameter_events.jsonl

tasks/hero_deploy_vt/include/hero_deploy_vt/conf.hpp
.cache
